<div *ngIf="loading">⏳ Učitavanje podataka...</div>
<div *ngIf="error">{{ error }}</div>



<div *ngIf="!loading && !error">
  <div *ngFor="let city of (facilitiesSummary | keyvalue)" class="city-table mb-4">
    <h3>{{ city.key }}</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Amenitet</th>
          <th>Broj</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let facility of getFacilitiesList(city.key)">
          <td>{{ facility.name }}</td>
          <td>{{ facility.count }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="mb-3 d-flex justify-content-end">
  <button class="btn btn-primary me-2" (click)="exportJSON()">📥 Export JSON</button>
  <button class="btn btn-secondary" (click)="exportCSV()">📥 Export CSV</button>
</div> 
<a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">
  <img src="https://licensebuttons.net/p/zero/1.0/88x31.png" alt="CC0" />
</a>